<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div ng-controller="mc">
    <input type="text" ng-model="inp">
    <div ng-click="aa()">123</div>
    <button ng-click="aa()" ng-disabled="!inp">提交</button>
</div>




</body>
<script src="./node_modules/jquery/dist/jquery.js"  charset="utf-8" type="text/javascript"></script>

<script src="./node_modules/angular/angular.js" charset="utf-8"  type="text/javascript"></script>
<script>

  var app = angular.module('app',[]);
    app.controller('mc',['$scope',function($scope){
        $scope.aa = function(){
            alert('22');
        }
    }])

</script>
</html>