<!DOCTYPE html>
<html lang="zh-CN" ng:app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>中关村标准创新公共服务平台</title>

    <!-- Bootstrap -->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">

        </div>
    </div>
</nav>

<div class="container" ng-controller="mc">

    <input type="text" ng-model="inp">
    <button ng-click="aa()" ng-disabled="!inp">提交</button>


    <span time="3" >321</span>


    <!--表单-->
    <form action="" name="myForm" novalidate="novalidate" >

        <input type="text" name="myName" ng-model="username" required />

    </form>
    <pre>{{myForm.myName.$error['required']}}</pre>
    <pre>{{myForm | json}}</pre>

</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../node_modules/angular/angular.js"></script>
<script src="./js/www/index.js"></script>


</body>
</html>


